@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    box-sizing: border-box;
}
body{

    height: 100%;
    background-color: #f2f8fb;
    font-family: 'Rubik', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    width: 1340px;
        height: 100%;
}
.row{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/*-----------------------------------------------------------------------------------*/
/*                              H   E   A   D   E   R                                */
/*-----------------------------------------------------------------------------------*/
.header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header p{
    width: 50%;
    color: gray;
    margin-top: 0;
    margin-bottom: 40px;
}
.header div{
    display: flex;
    justify-content: center;
}
/*-----------------------------------------------------------------------------------*/
/*                              P   A   C   K   A   G   E                            */
/*-----------------------------------------------------------------------------------*/
.package_section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.package{
    width: 32%;
    overflow: hidden;
    background-color: white;
    position: relative;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.package p{
    color: gray;
}
.image img{
    width: 100%;
    height: 234.43px;
    border-top-left-radius:12px ;
    border-top-right-radius:12px ;
}
.image .blur{
    position: absolute;
    background-color: black;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 234.43px;
    transition: 0.5s ease-out;
}
.image .btn{
    position: absolute;
    opacity: 0;
    left: 30% ;
    top: -2% ;
    display: flex;
    align-items: center;
    padding: 17px 35px;
    color: #f4f4f4;
    background-color: #fc5f38;
    border-radius: 4px;
    transition: 0.5s ease-out;
    cursor: pointer;
    z-index: 999;
}
.package:hover .image .btn{
    opacity: 1;
    transform: translateY(100px);
}
.package:hover .image .blur{
    opacity: 0.4;
}
.image .btn:hover{
    background-color: #ff4618;
}
.footer{
    padding: 12px;
}
.info h3{
    margin-top: 0;
    margin-bottom: 9px;
    color: rgb(87, 87, 87);
}
.info p{
    margin-top: 0;
}
hr{
    margin: 0;
}
/*-----------------------------------------------------------------------------------*/
/*                                  P    R    I    C    E                            */
/*-----------------------------------------------------------------------------------*/
.price{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.price h4{
    color: #ff7a58;
    font-size: x-large;
    margin-bottom: 0;
    margin-top: 10px;
}
.price i{
    color: #ffc300;
    font-size: 13px;
}
.cost p{
    margin-top: 8px;
}
.rate p{
    margin-top: 4px;
}
.row .button{
    display: flex;
    justify-content: center;

}
.row button{
    margin-top: 40px;
    padding: 15px 35px;
    font-size: medium;
    font-weight: 500;
    color: #f4f4f4;
    background-color: #fc5f38;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.row button:hover{
    background-color: #ff4618;
}